.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #0e0e0e;
  color: #efefef;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 2px solid rgb(101, 101, 101);
}

.modal h2 {
  margin-top: 0;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalForm input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #343434;
  border-radius: 4px;
  background-color: #5a5a5a;
  color: #efefef;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.modalActions button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(31, 31, 31);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.saveButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: white !important;
  background-color: #4a90e2;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}
